version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: finsight_backend
    ports:
      - "8001:8000"
    restart: always

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: finsight_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    restart: always
